<!DOCTYPE html>
<html>

<head>
  <title>Logdoor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style-home.css" />
  <script type="text/javascript" src="granim.min.js"></script>
</head>

<body>
  
  <div  class="container">
    <div class="main-box">
      <img src="images/hero.png"/>
      <div class="text-box">
        <h1>logDoor</h1>
        <h2>Log, lock and alarm system</h2>
      </div>
      <div>
        <button onclick='window.location="/dashboard"'>Dashboard</button>
        <button>Info</button>
      </div>
    </div>
  </div>

  <canvas id="canvas-gradient"></canvas>

  <script>
    var granimInstance = new Granim({
    element: '#canvas-gradient',
    direction: 'diagonal',
    isPausedWhenNotInView: true,
    states : {
        "default-state": {
            gradients: [
              
                ['#037ADE', '#03E5B7'],
                ['#03E5B7', '#037ADE'],
                ]
            }
        }
    });
  </script>
</body>

</html>